[flake8]
max-line-length = 100
exclude=*.egg/*,build,dist

# E501 is line length limit
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
# We don't really need line length rule since black formatting takes care of
# that.
extend-ignore = E203,E128,E402,E722,W504,E501,E203,W503
ignore = E128,E402,E722,W504,E501,E203,W503
