*.py[co]
*.sw[po]
libcloud/test/secrets.py
demos/secrets.py
*~
.tox
_trial_temp
build
MANIFEST
/.ropeproject/config.py
/.coverage
coverage_html_report/
.idea
dist/*apache-libcloud*
dist/*apache_libcloud*
docs/apidocs/*
_build/
apache_libcloud.egg-info/
.project
.pydevproject
.settings
.DS_Store
.eggs/
.cache/
.vscode/
bin/
geckodriver.log
include/
lib/
libcloud/utils/escape.py~45101531e327bae25bd29bf7e2fa2c9796e71d27
libcloud/utils/escape.py~HEAD
local/
share/

