global-exclude *.py[cod]
global-exclude .pytest_cache
include LICENSE
include NOTICE
include example_*.py
include CHANGES.rst
include README.rst
include tox.ini
include pyproject.toml
include requirements-tests.txt
include requirements-lint.txt
include libcloud/data/pricing.json
include demos/*
include scripts/check_file_names.sh
recursive-exclude libcloud/test secrets.py
prune libcloud/test/secrets.py
prune requirements-rtd.txt
prune dist
prune build
