include LICENSE
include NOTICE
include DISCLAIMER
include example_*.py
include CONTRIBUTORS
include CHANGES
include RELEASING
include README
include tox.ini
include libcloud/data/pricing.json
prune libcloud/test/secrets.py
include demos/*
include libcloud/test/*.py
include libcloud/test/pricing_test.json
include libcloud/test/secrets.py-dist
include libcloud/test/compute/*.py
include libcloud/test/storage/*.py
include libcloud/test/loadbalancer/*.py
include libcloud/test/dns/*.py
include libcloud/test/compute/fixtures/*/*
include libcloud/test/storage/fixtures/*/*
include libcloud/test/loadbalancer/fixtures/*/*
include libcloud/test/dns/fixtures/*/*
