include LICENSE
include NOTICE
include DISCLAIMER
include example_*.py
include CONTRIBUTORS
include CHANGES
include HACKING
include README
include libcloud/data/pricing.json
prune test/secrets.py
include demos/*
include test/*.py
include test/pricing_test.json
include test/secrets.py-dist
include test/compute/*.py
include test/storage/*.py
include test/loadbalancer/*.py
include test/compute/fixtures/*/*
include test/storage/fixtures/*/*
include test/loadbalancer/fixtures/*/*
