coverage[toml]==7.2.7; python_version >= '3.8'
requests>=2.31.0
requests_mock==1.11.0
pytest==8.3.5
pytest-xdist==3.6.1
pytest-timeout==2.3.1
pytest-benchmark[histogram]==5.1.0
cryptography==44.0.2

# NOTE: Only needed by nttcis loadbalancer driver
# We need to use >= 25.0.0 to be compatible with cryptography >= 43
pyopenssl==25.0.0

# Required by subset of tests
fasteners
paramiko==3.4.0; platform_python_implementation != 'PyPy'
libvirt-python==10.2.0
