pep8>=1.7.0,<1.8
flake8==3.7.9
astroid==2.3.3
pylint==2.4.4
mock==3.0.5
codecov
coverage==4.5.4
requests
requests_mock
pytest==5.3.2
cryptography==2.8
# NOTE: Only needed by nttcis loadbalancer driver
pyopenssl
