pep8==1.7.1
flake8==5.0.4
astroid==2.12.13; python_version >= '3.8'
pylint==2.15.8; python_version >= '3.8'
bandit==1.7.4; python_version >= '3.7'
black==22.10.0; python_version >= '3.6' and implementation_name == "cpython"
isort[pyproject]==5.10.1; python_version >= '3.8'
pyupgrade==3.3.1
rstcheck==6.1.1; python_version >= '3.7'

requests>=2.27.1
paramiko==2.12.0; platform_python_implementation != 'PyPy'
